.skills_desc {
    text-align: start;
    margin-left: -5rem;
    margin-top: -2rem;
    width: 60%;
    font-size: medium;
}

.skills_head {
    margin-left: -5rem;
    margin-top: 3rem;
    font-size: medium;
    color: #dadce1a3;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.skillsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -3rem;
}

.skills {
    margin-left: -5rem;
    display: flex;
    flex-direction: row;
}

.skills_img {
    align-items: flex-start;
    margin-bottom: 4rem;
    margin-right: 1rem;
    height: 3.5rem;
    width: 3.5rem;
}

@media screen and (max-width: 1024px){

    .skillsContainer {
        grid-template-columns: 450px;
        padding: auto;
    }

    .skills_head {
        margin-left: 3rem;
        /* padding-left: 10rem; */
    }

}

@media screen and (max-width: 768px){
    
    
}

@media screen and (max-width: 576px) {
    .skills_desc{
        margin-left: 3rem;
        width: 80%;
    }

    /* .skillsContainer{
        
    } */

}

@media screen and (max-width: 350px) {
 
}