.home {
    /* grid-template-columns: 116px repeat(2, 1fr); */
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.intro {
    max-width: 540px;
    text-align: center;
    z-index: 1;
    justify-content: center;
}

.home__title {
    text-align: start;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.home__img {
    margin-bottom: 1.5rem;
}

.home__name{
    text-align: start;
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    justify-content: center;
    align-self: center;
    justify-self: center;
}

.home__subtitle {
    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 7rem;
    font-weight: 300;
    margin-bottom: 1.25rem;
    margin-top: 1rem;
    text-align: start;
    justify-content: center;
}

.home__subtitle::before {
    content: '';
    position:absolute;
    width: 100px;
    height: 1.25px;
    background-color: antiquewhite;
    left: 0;
    top: 1rem;
}

.home__socials {
    
    column-gap: 1.75rem;
    margin: 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__social-link {
    color: var(--title-color);
    font-size: 1.5rem;
    transition: 0.3s;
}

.home__social-link:hover {
    color: #5fc9e1;
}

.scroll__down {
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    width: 100%;
}

.home__scroll-name {
    font-size: var(--small-font-size);
    color: rgb(220, 218, 218);
}

.mouse {
    border: 2px solid #454360;
    display: block;
    height: 1.6rem;
    width: 1.25rem;
    margin: auto;
    margin-top: 0.75rem;
    border-radius: 1rem;
    position: relative;

}

@keyframes ani-mouse {
    0% {
        top: 29%;
    }

    15% {
        top: 50%;
    }

    50% {
        top: 50%;
    }

    100% {
        top: 29%;
    }
}

.wheel {
    background-color: #5fc9e1;
    border-radius: 100%;
    width: 0.25rem;
    height: 0.25rem;
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    animation: ani-mouse 2s linear infinite;
    
}


.shapes {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.shape {
    position: absolute;
}

.s1 {
    left: 14%;
    top: 10%;
}

.s2 {
    left: -12%;
    top: 30%;
}

.s3 {
    left: -8%;
    bottom: 30%;
}

.s4 {
    left: 2%;
    bottom: 10%;
}

.s5 {
    left: 44%;
    top: 10%;
}

.s6 {
    left: 36%;
    bottom: 10%;
}

.s7 {
    top:  20%;
    right: 25%;
}

.s8 {
    right: 25%;
    bottom: 20%;
}

.s9 {
    right: 2%;
    top: 10%;
}

.s10 {
    top: 45%;
    right: -10%;
}

.s11 {
    bottom: 10%;
    right: 2%;
}

.s12 {
    left: 80%;
    top: 55%;
}

.s13 {
    left: -5%;
    top: 5%;
}

/* .s14 {
    left: 6%;
    top: 45%;
} */

.s15 {
    left: 15%;
    top: 70%;
}

@media screen and (max-width: 1024px) {

    .home__social-link {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px){
   
}

@media screen and (max-width: 576px) {
    .s10 {
        top: 45%;
        right: 5%;
    }
}

@media screen and (max-width: 350px) {
    .s10 {
        top: 45%;
        right: 5%;
    }
 
}