nav {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    /* background-color: wheat; */
    padding: 40px 130px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-name{
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
}

#navbar li{
    font-size: 1rem;
    list-style: none;
    padding: 0 18px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    /* font-size: 1.3rem; */
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;
}

#navbar li a:hover{
    color: rgb(95,201,225);
}

#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: rgb(95,201,225);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
}

#mobile i{
    color: #fff;
}

@media screen and (max-width:576px){
    nav{
        position:fixed;
        top: 0px;
        width: 100%;
        padding: 35px 25px 25px 25px;
        /* background-color: red; */
        background-color: var(--body-color);
        z-index: 1;
        
        /* overflow: hidden; */
    }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: -300px;
        width: auto;
        height: auto;
        padding: 20px 10px 5px 10px;
        margin-right: 10px;
        background-color: rgb(21, 28, 43);
        border: 0.1px solid rgb(220, 218, 218);
        border-radius: 6px;
        z-index: 1;
        /* background-color: red; */
        transition: 0.3s ease-in;
    }

    #navbar.active {
        right: 10px;
    }

    #mobile {
        display: block;
    }
    #navbar li {
        margin-bottom: 15px;
    }

    #mobile i{
        font-size: 24px;
        cursor: pointer;
    }
    #navbar li a:hover{
    color: rgb(95,201,225);
}


}





/* .n-wrapper {
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.n-left {
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
    margin-left: 10rem;
}

.n-name {
    font-size: 1.3rem;
    font-weight: bold;
}

.n-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    margin-right: -20rem;
}

.n-list {
    flex: 10;
}

.n-list>ul{
    display: flex;
    gap: 2rem;
    /* margin-right: 0.5rem; */
/* } */

/*.n-list>ul>li:hover{
    cursor: pointer;
    color: rgb(95,201,225);
} */