
/* -- Google Fonts -- */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/*-- Variable CSS -- */

:root {
    /*-- Colours -- */
    --first-color: hsl(353, 100%, 65%);
    --title-color: #fafafa;
    --text-color: rgb(220, 218, 218);
    --body-color: rgb(17,24,39);
    --container-color: #fff;

    /*-- Font and Typo -- */
    /* 0.5rem = 8rem | 1 rem = 16px */
    --body-font: 'Rubik', Sans-serif;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;

    /*-- Font Weight -- */
    --font-ExtraBold: 800;
    --font-bold: 700;
    --font-semibold: 600;
    --font-medium: 500;

    /*-- Box Shadow -- */
    --shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);

    /*-- Border Radius -- */
    --border-radius: 20px;

}

/*-- Base -- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  line-height: 1.7;
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
  line-height: 1.2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;

}

@media screen and(max-width: 1024px) {
  :root {
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}


.container {
  max-width: 1080px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.section {
  padding-top: 7rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  padding-left: 2%; 
  margin-left: -8rem;  /*2.25rem or 4.45*/
  font-weight: var(--font-bold);
  position: relative;
  margin-bottom: 4.5rem;
}

.section__title::before {
  content: '';
  padding-left: 2%; 
  background: url(./assets/test1.svg);
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  left: -0.875rem;
  top: -0.875rem;
}

.btn {
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: 1.875rem;
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  border: 1px solid transparent;
  color: #fff;
  display: inline-block;
  background-color: var(--first-color);
  font-weight: var(--font-bold);
  text-align: center;
  width: auto;
  justify-self: start;
  align-self: flex-start;
  
}

.splash__screen {
  /* padding: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@keyframes button-push {
  50% {
    transform: scale(0.8);
  }
  100%{
    transform: scale(1);
  }
}

.btn:hover {
  animation: button-push 0.3s linear 1;
}

.button {
  display: inline-block;
  background-color: var(--body-color);
  color: var(--container-color);
  border: 2px solid wheat;
  border-color: #fff;
  padding: 0.25rem 0.25rem;
  font-size: 2rem;
  border-radius: 20%;
  width: auto;
  height: auto;

}

.buttonBlue {
  display: inline-block;
  background-color: rgb(95,201,225);
  color: rgb(7, 7, 7);
  border: 2px solid rgb(95,201,225);
  border-color: rgb(95,201,225);
  padding: 1rem 1rem;
  border-radius: 50%;
  width: auto;
  height: 22px;
  margin-right:16px;
}

.button:hover {
  background-color: #fff;
  color: rgb(0, 0, 0);
}

.button__icon {
  margin-left: var(--mb-0-5);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}


@media screen and (max-width: 768px) { 
  .section__title {
    margin-left: 8rem;
  }
}

@media screen and (max-width: 576px) { 

  .html,body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .section__title {
    margin-left: 8rem;
  }

}