.work__filters {
    justify-content: end;
    margin-right: 2rem;
    display: flex;
    align-items: flex-end;
    column-gap: 1.875rem;
    margin-bottom: 5.5rem;
    margin-top: -2rem;
    flex-wrap: wrap;
    align-content: flex-end;
    align-content: flex-end;
    position: relative;
}

.work__item {
    cursor: pointer;
    font-weight: var(--font-bold);
    transition: 0.3s;
}

.work__item__active{
    color: var(--first-color);
    font-weight: var(--font-bold);
    transition: 0.3s;
}

.work__item:hover {
    color: var(--first-color);
}

.work__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
    column-gap: 1px;
    margin-left: -5rem;
}

.work__card {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    background-color: var(--title-color);
}

.work__mask {
    background: rgb(17,24,39);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: 0.3s;
    opacity: 0;
}

.work__card:hover .work__mask {
    opacity: 0.8;
}

.work__quote {
    font-size: 3.5rem;
    margin-left: -6rem;
    font-weight: var(--font-ExtraBold);
    margin-top: 10rem;
    text-align: center;
    justify-content: center;
    /* margin-bottom: 1rem; */
}

.work__category {
    color: #fff;
    background-color: var(--first-color);
    border-bottom-left-radius: 0.98rem;
    border-bottom-right-radius: 0.98rem;
    position: absolute;
    top: 0;
    right: 1.5rem;
    font-size: var(--small-font-size);
    display: inline-block;
    padding: 0.19rem 0.625rem;
    transform: translateY(-40px);
    transition: 0.3s;
}

.work__title {
    color: #fff;
    font-size: var(--h3-font-size);
    margin: 0 0 0.98rem;
    padding: 0 1.25rem;
    position: absolute;
    top: 3.75rem;
    transform: translateY(30px);
    transition: 0.3s;
    opacity: 0;

}

.work__desc {
    color: rgb(223, 49, 49);
    font-size: var(--small-font-size);
    margin: 0 0 0.98rem;
    padding: 0 1.25rem;
    position: absolute;
    top: 3.75rem;
    transform: translateY(60px);
    transition: 0.3s;
    opacity: 0;
}

.work__button {
    color: #fff;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    font-size: var(--h3-font-size);
    display: block;
    background-color: #ffd15c;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    transition: 0.3s;
    opacity: 0;
}

.work__card:hover .work__button {
    opacity: 1;
}

.work__card:hover .work__title,
.work__card:hover .work__category
{
    opacity: 1;
    transform: translateY(0);
}

/* .work__quote_animation {
    margin-top: 5rem;
    width: 100%;
    font
} */

/* -------------------------------------------- CARD 2 ----------------------------------*/

.work__card__header2 {
    padding: 20px;
    margin-top: -5rem;
    position: static;

}

.work__card__title2{
    color: #fff;
    font-weight: 700;
    padding-bottom: 10px;
    margin-top: 10px;
    padding-right: 20px;
    font-size: 20px;
    width: 60%;

}

.work__card__title2:hover {
    color: #5fc9e1;
    cursor: default;
}

.work__card__desc2 {
    color: #AAB2CE;
    font-weight: 300;
    width: 60%;
    padding-right: 20px;
    font-size: 15px;
}

.work__card__stack2 {
    /* position:static; */
    color: #828AA5;
    /* padding-left: 20px; */
    padding-right: 20px;
    /* padding-bottom: 5px; */
    /* margin-top: 3rem; */
    margin-top: 3rem;
    /* padding-bottom: 3rem; */
    font-size: 12px;
    /* transform: translateY(-100%); */
    /* position: grid;
    bottom: 0; */
    /* vertical-align:bottom; */
    
}
.nav__list__2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 1rem;
}

.nav__link__2 {
    position: relative;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #e1d3d3;
    /* font-weight: var(--font-bold); */
    transition: 0.3s;
}

.nav__link__2:hover {
    color: #ffd15c;

    text-decoration: underline;
}

.work__card2{
    position: relative;
    /* width: 600px;
    height: 350px;
    margin: 20px; */
    width: 350px;
    height: 350px;
    background-color: #15223E;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 3rem;
    
}

.work__card2 img{
    position: absolute;
    top: 20px;
    right: -65px;
    /* bottom: 0;
    left: 50%; */
    transform: translateX(-50%);
    height: 300px;
    transition: 0.3s;
}

.work__card2:hover img {
    top: -60px;
    right: -80px;
    /* left: 80%; */
    height: 330px;
}

.nav__link__2 p {
    position: relative;
    /* bottom: 10; */
    font-size: 14px;
    font-weight: 600;
}

/* -------------------------------------------- CARD 2 END ----------------------------------*/



.work__card1 {
    /* height: auto; */
    width: 350px;
    background-color: #15223E;
    padding: 10px;
    /* padding-bottom: -10px; */
    border-radius: 4px;
}

.work__card__number {
    color: #5fc9e1;
    font-size: 40px;
}

.work__card__title{
    color: #fff;
    font-weight: 700;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;

}

.work__card__desc {
    color: #AAB2CE;
    font-weight: 300;
    /* margin: 0 0 0.98rem; */
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14;
    padding-bottom: 50px;
}

.work__card__stack {
    color: #828AA5;
    /* padding-left: 20px; */
    /* padding-top: 15px;
    padding-right: 20px;*/ 
    padding-bottom: 10px; 
    font-size: 12px;
    /* transform: translateY(-100%); */
    /* position: grid;
    bottom: 0; */
    position:absolute;
    bottom:0;
    
}

.work__card__title:hover {
    color: #5fc9e1;
    cursor: default;
}

.work__card1:hover {
    animation: button-push 0.5s linear 1;
}

.work__card__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}


.nav__list__1 {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.nav__link__1 {
    font-size: 1.5rem;
    color: var(--title-color);
    font-weight: var(--font-bold);
    transition: 0.3s;
}

.nav__link__1:hover {
    color: #ffd15c;
}

@media screen and (max-width: 1024px){

    .work__filters {
        justify-content: center;
    }

    .work__container {
        grid-template-columns: repeat(2, 330px);
        justify-content: center;
        row-gap: 1.875rem;
        column-gap: 2rem;

    }

    
}

@media screen and (max-width: 768px){
    .work__container{
        grid-template-columns: 310px;
    }

    
}

@media screen and (max-width: 576px) {
    .work__filters {
        justify-content: center;
        margin-left: 2rem;
    }
    .work__container {
        margin-left: -2.6rem;
    }
    .work__quote{
        margin-top: 3rem;
        font-size: 3rem;
        margin-left: -1rem;
        margin-bottom: -1rem;
    }
}

@media screen and (max-width: 350px) {
 
}